
body {
    font-family: 'Arial', 'Verdana', sans-serif; /* Standard sans-serif web font for sales data */
    color: #333; /* Standard font color for text */
    background-color: #fff; /* Page Background: White */
    margin: 0;
    padding: 0;
  }

  h1, h2, h3 {
    font-family: 'Righteous', cursive; /* Custom Google Font for heading tags */
    color:  #fa8072; /* Font color for heading tags */
    margin-left: 20px;
  }

  p {
    font-family: 'Arial', 'Verdana', sans-serif;
    margin-left: 20px;
    padding: flex
    
    }

    img {
      display: block;
      margin: auto;
      
    }

  header {
    background-color: #000; /* Header background: Black */
    padding: 10px;
    text-align: center;
  }

  nav {
    background-color: #fa8072; /* Header Navigation: Salmon background */
  }

  nav a {
    color: #000; /* Link text color in navigation */
    text-decoration: none;
    padding: 10px;
  }

  nav a:hover {
    text-decoration: underline;
  }

  footer {
    background-color: #666;
    padding: 10px;
  }


  table {
    thead {
      background: grey;
    }
    th, td {
      border: 1px solid #444;
      padding: .5em;
    }
  
    tfoot {
      background: grey;
    }
  }

  form fieldset {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  label {
    margin-right: 10px;
  }

  .form-row label {
    flex: 1;
    text-align: center;
  }

  .form-row input {
    flex: 1
  }

  form button {
    align-self: flex start
  }

  form legend {
    font-family: 'Righteous', sans-serif;
    color: salmon;
    text-align: left;
    margin-bottom: 10px;
  }