
body {
    font-family: 'Arial', 'Verdana', sans-serif; /* Standard sans-serif web font for sales data */
    color: #333; /* Standard font color for text */
    background-color: #fff; /* Page Background: White */
    margin: 0;
    padding: 0;
  }

  h1, h2 {
    font-family: 'Righteous', cursive; /* Custom Google Font for heading tags */
    color:  #fa8072; /* Font color for heading tags */
  }

  header {
    background-color: #000; /* Header background: Black */
    padding: 10px;
    text-align: center;
  }

  nav {
    background-color: #fa8072; /* Header Navigation: Salmon background */
  }

  nav a {
    color: #000; /* Link text color in navigation */
    text-decoration: none;
    padding: 10px;
  }

  nav a:hover {
    text-decoration: underline;
  }

